<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> 🏘️ Home! </h1>
    <p> Navigate! </p>
    <ul>
        <li><a href="{{ url_for('addressbook') }}">Address Book</a></li>
        <li><a href="{{ url_for('display_notes') }}">Notes</a></li>
    </ul>
</body>
</html>
